
 .table {
     display: flex;
     justify-content: center; 
 }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px black solid;
    width: 50%;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
} 

td a {
    text-decoration: none;

}

td a:hover{
    color: black;
    font-size: 15px;
}


.react-bs-table {
    border: none;
    
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    /* For mobile phones: S , M */
     table .id { 
        display: none;
    }
    table .name {
        display: none;
    }
    
}

  


